:root {
    --primary:          #9d9d9d;
    --secondary:        #9a9a9a;
    --background:       #d9dce3;
    --complete:         #2B9248;
    --incomplete:       #F71515;
    --warning:          #EEEF20;
    --primary-text:     #1B1B1E;
    --secondary-text:   #FAFAFF;
    --button:           #1B1B1E;
    --button-hover:     #373F51;
    --button-click:     #455460;
}