@import '../styles/colors.css';

.person-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: calc(100% - 2rem);
}

.person-card.hover {
  background-color: #f0f4ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.person-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  width: 100%
}

.person-name {
  font-weight: 600;
  font-size: calc(1.4vw + 0.6rem);
  color: #1e1e1e;
}

.person-contact-info {
  font-size: calc(0.8vw + 0.4rem);
  color: #555;
}